//- Подключаем переменные
include _pug/_pug

// Футер
footer(class=footer)
	div(class=footer + '__top')
		.container
			div(class=footer + '__top-row').row.align-items-center
				.col
					| Шакпа футера

	div(class=footer + '__bottom')
		.container
			div(class=footer + '__bottom-row').row.align-items-center
				.col
					| Футер футера