//- Подключаем переменные
include _pug/_pug

// Шапка
header(class=header)
	div(class=header + '__top')
		.container
			div(class=header + '__top-row').row.align-items-center
				.col
					| Шапка шапки

	div(class=header + '__bottom')
		.container
			div(class=header + '__bottom-row').row.align-items-center
				.col
					| Футер шапки